<%- include ("../partials/head.ejs") %>

    <body class="bg-dark">
        <%- include ("../partials/navbar.ejs") %>
            <section class="container">
                <div class="container-form">
                    <h1 class="title">Opções</h1>
                    <div class="admin">
                        <a class="btn btn-success" href="/admin/categories">Categorias</a>
                        <a class="btn btn-success" href="/admin/articles">Artigos</a>
                        <a class="btn btn-success" href="/admin/users">Usuários</a>
                    </div>
                </div>
            </section>
    </body>
    <%- include ("../partials/footer.ejs") %>