<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/admin"> GuiaPress</a>
        <!-- Mobile -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <i class="fa-solid fa-bars"></i>
        </button>
        <!-- NavBar -->
        <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Painel Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/articles">Artigos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout" href="/logout">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>